<ul class="list-group">
  <li py:for="meeting in prev_meetings" class="list-group-item">
    <div class="meeting-block">
      <span class="meeting-title" py:content="h.rst(meeting.title)" />
      <span py:if="meeting.description"> – ${h.rst(meeting.description)}</span><br />
      <b>Date:</b>
      <py:if test="meeting.has_specific_duration">
        <span class="meeting-date" py:content="h.ftime(meeting.date, duration=meeting.duration, show_day=True)" /><br />
      </py:if><py:else>
        <span class="meeting-date" py:content="h.ftime(meeting.date, show_day=True)" /><br />
      </py:else>
      <b>Location:</b> <span class="meeting-location" py:content="meeting.location" />
    </div>
  </li>
</ul>
